
*{
  margin:0;
  padding:1rem;
  box-sizing: border-box;
}

.App{
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: europa-light, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 32px;
}

body{
  font-family: 'Varela Round', sans-serif;
  color: white;
  background-color: #10121B;
  text-align: center;
  text-decoration: none;
}

.title{
  padding: 5rem 0;
  text-align: center;
}
